<script context="module">
import _ from 'lodash'
import Numeral from 'numeral'
import { get } from 'svelte/store'
import { electionLoaded, election, pendingElectionIds } from '../../stores/elections.js'

export async function preload(page) {
  const { slug } = page.params
  election.load(slug)
}
</script>

<script>
import { onMount } from 'svelte'
import { stores, goto } from '@sapper/app'
import ContentSection from '../../components/layout/ContentSection.svelte'

const { preloading, page } = stores()
const {slug} = $page.params

onMount(() => {
  if (!slug) {
    return goto('/demo')
  }
  if (!_.includes($pendingElectionIds, slug)) {
    return goto(`/demo/${slug}/dataset`)
  }
})

let contentSection
$: {
  if ($electionLoaded) {
    const formatOpts = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' }
    const now = Date.parse(new Date().toDateString())
    const pollDate = new Date($election.polling_date)
    const formattedDate = pollDate.toLocaleDateString('en-GB', formatOpts)

    let pollingEventStr = ''
    let availabilityStr = `Analysis of the Most Past the Post results will be published here as soon as possible
        once polling is complete and constituency results are collated.`
    if (+now === +pollDate) {
      pollingEventStr = `This election is taking place today.`
    } else if (now < pollDate) {
      pollingEventStr = `This election is due to take place on ${formattedDate}.`
    } else if (now > pollDate) {
      pollingEventStr = `This election took place on ${formattedDate}.`
      availabilityStr = `Analysis of the Most Past the Post results will be published here as soon as possible
        once constituency results are collated and processed.`
    }
    contentSection = {
      header: `${$election.year} ${$election.country} general election`,
      body: [
        pollingEventStr,
        availabilityStr
      ]
    }
  }
}
</script>

<section
  class:loading={!$electionLoaded}
  class="demo pb-4">
  {#if $electionLoaded}
    <ContentSection section={contentSection} index=0></ContentSection>
  {/if}
</section>
