<script>
import get from 'lodash/get'
import has from 'lodash/has'
import isEmpty from 'lodash/isEmpty'
import { onDestroy, getContext } from 'svelte'
import { createEventDispatcher } from 'svelte'
import {
  currentCalculationConstituencies,
  calculationComplete,
  calculationIndex
} from '../../../stores/results.js'
import { coordinates, highlightCell } from '../../../stores/map.js'

export let constituency
export let party = {}

let dynamic = false
let highlight = false
let partySlug = ''
const dispatch = createEventDispatcher()

let polygon
let boundingBox
$: {
  if ($calculationIndex && isEmpty(party)) {
    dynamic = true
  } else {
    dynamic = false
  }

  if (!isEmpty(party)) {
    // static
    partySlug = get(party, 'slug')
  } else {
    // dynamic
    if (has($currentCalculationConstituencies, constituency.slug)) {
      highlight = true
      partySlug = get($currentCalculationConstituencies, constituency.slug)
    } else if (highlight === true) {
      highlight = false
    }

    if ($calculationComplete) {
      highlight = false
    }
  }

  if (polygon) {
    boundingBox = polygon.getBoundingClientRect()
  }
}

const unsubscribeCoordinates = coordinates.subscribe((value) => {
  if (partySlug.length === 0) {
    return
  }
  if (polygon && value) {
    if (boundingBox.left <= $coordinates.x && $coordinates.x <= boundingBox.right && boundingBox.top <= $coordinates.y && $coordinates.y <= boundingBox.bottom) {
      dispatch('select-constituency', constituency.slug)
    }
  }
})

const unsubscribeCalculation = calculationComplete.subscribe((value) => {
  if (!$calculationComplete && dynamic) {
    // reset party colour unless in first batch
    if (has($currentCalculationConstituencies, constituency.slug)) {
      partySlug = get(party, 'slug', '')
      highlight = true
    } else {
      partySlug = ''
      highlight = false
    }
  }
})

onDestroy(() => {
  unsubscribeCalculation()
  unsubscribeCoordinates()
  partySlug = ''
  highlight = false
})
</script>
<polygon bind:this={polygon}
         on:click="{() => dispatch('select-constituency', constituency.slug)}"
         class:highlight={highlight}
         class:active={partySlug && partySlug.length > 0}
         class:selected={constituency.slug === $highlightCell}
         class="{partySlug}"
         data-constituency={constituency.slug}
         points={constituency.points}
         stroke-width={1}
></polygon>