<script>
import join from 'lodash/join'

import { electionsLoaded } from '../stores/elections.js'
import { headerClasses } from '../stores/ui.js'

// load all the icons in use as svgs
import { library, dom } from '@fortawesome/fontawesome-svg-core'
import {
	faCaretDown,
	faCaretLeft,
	faCaretRight,
	faCaretUp,
	faChartBar,
	faChartPie,
	faChevronLeft,
	faChevronRight,
	faEye,
	faFastForward,
	faForward,
	faInfo,
	faInfoCircle,
	faKey,
	faMap,
	faPause,
	faPlay,
	faRedo,
	faSeedling
} from '@fortawesome/free-solid-svg-icons'
import {faGitlab } from '@fortawesome/free-brands-svg-icons'
library.add(
	faCaretDown,
	faCaretLeft,
	faCaretRight,
	faCaretUp,
	faChartBar,
	faChartPie,
	faChevronLeft,
	faChevronRight,
	faEye,
	faFastForward,
	faForward,
	faGitlab,
	faInfo,
	faInfoCircle,
	faKey,
	faMap,
	faPause,
	faPlay,
	faRedo,
	faSeedling
)
dom.watch()

import MainNavigation from '../components/layout/MainNavigation.svelte'
import MainHeader from '../components/layout/MainHeader.svelte'
import SubNavigation from '../components/layout/SubNavigation.svelte'
import Footer from '../components/layout/Footer.svelte'

export let segment
let minimized = false
let scrollPosition = 0

function resizeHeader () {
	const scroll = window.pageYOffset
	const windowWidth = window.innerWidth
	let threshold = 80
	let mobile = windowWidth < 768
	if (mobile) {
		threshold = 50
	}
	minimized = (scroll > threshold || scroll > 0)
	scrollPosition = scroll
}
</script>
<svelte:window on:scroll={resizeHeader}/>
<div class="h-full {join($headerClasses, ' ')}" class:minimized={minimized}>
	<div class="site-header relative z-10 w-full">
		<section class="bg-gray-800 text-gray-100 shadow-md z-20">
			<MainNavigation {segment} />
			<div>
				<div class="header-bar container w-full flex items-center justify-start">
					<MainHeader {segment} />
				</div>
				<SubNavigation {segment} />
			</div>
		</section>
	</div>
	<section class="content relative z-0">
		<main>
			<slot></slot>
		</main>
	</section>
	<footer class="relative z-10 w-full py-2 md:py-4 bg-gray-300 text-gray-800">
		<div class="px-2 md:px-12">
			<Footer />
		</div>
	</footer>
</div>