<script context="module">
import { get } from 'svelte/store'
import { electionLoaded, electionsLoaded, election, elections, defaultElectionId } from '../stores/elections.js'

export async function preload(page) {
  const loaded = get(electionLoaded)
  const defaultId = get(defaultElectionId)
  if (!loaded && defaultId) {
    election.load(defaultId)
  }
  return
}
</script>

<script>
import ContentSection from '../components/layout/ContentSection.svelte'
import ResultsComparison from '../components/election/stats/ResultsComparison.svelte'

let sections = [
  {
    header: 'Fairer elections',
    body: [
      'Most past the post is a way of making first past the post electoral systems fairer.',
      `It doesn't change how elections are held or how voting takes place. Instead it applies a set of calculations to balance the results.`
    ],
    component: null
  },
  {
    header: 'Why?',
    body: [
      'There are a few reasons why first past the post fails to product fair results.',
      'Most past the post addresses these problems and keeps the best bits of first past the post.'
    ],
    component: null
  },
  {
    id: 'summary',
    header: 'What it changes',
    body: [
      `Most seats stay the same as the first past the post result; some seats are allocated to candidates who didn't win their constituency poll.`,
      'The result is proportional representation.'
    ],
    component: ResultsComparison
  },
  {
    header: 'How does it work?',
    body: [
      `Understanding how the calculations work takes a bit of explanation but for a voter casting their ballot it's easy to understand...`,
      'Everyone has a single vote which counts equally no matter where they live.'
    ],
    component: null,
    link: {
      text: 'More about how it works',
      href: '/how-it-works'
    }
  }
]
</script>

<svelte:head>
  <title>Most Past the Post</title>
  <meta name="Description" content="Most Past the Post is a proposal to reform the First Past the Post voting system. It applies a set of calculations to first past the post election results, reassigning some seats to losing candidates in order to achieve proportional representation.">
</svelte:head>

<section class="home pb-4 md:pb-8" class:loading={!$electionsLoaded}>
  {#if $electionsLoaded}
    <slot name="main">
      {#each sections as section, sidx}
        <div>
          <ContentSection section={section} index={sidx}></ContentSection>
        </div>
      {/each}
    </slot>
  {/if}
</section>
