  
<script>
import ContentSection from '../../components/layout/ContentSection.svelte'
import AboveThreshold from '../../components/election/AboveThreshold.svelte'

let section = {
  lead: 'Above threshold party seats are allocated using a ranking system',
  // body: [
  //   'In this step all the above threshold party candidates are ranked and listed.'
  // ],
  component: AboveThreshold
}
</script>
<svelte:head>
  <title>Most Past the Post - how it works: voting</title>
  <meta name="Description" content="Outline of how the most past the post results are calculated.">
</svelte:head>
<section class="how-it-works pb-4 md:pb-8">
  <slot name="main">
    <ContentSection section={section} index={0}></ContentSection>
  </slot>
</section>