<script>
import ContentSection from '../../components/layout/ContentSection.svelte'

let section = {
    lead: 'Below threshold parties are allocated seats first',
    body: [
      'The final allocation of seats is arrived at in a number of steps.',
      'First the "below threshold" parties are allocated seats. In this step all the first-placed candidates from parties polling below the threshold are confirmed as the constituency winner.',
      'In a parliament of 650 seats: if there were 60 below threshold winners, these would be allocated seats first.',
      'The remaining 590 seats would then be divided proportionally between the "above threshold" parties.'
    ]
  }
</script>
<svelte:head>
  <title>Most Past the Post - how it works: below threshold calculation</title>
  <meta name="Description" content="Outline of how the most past the post results are calculated.">
</svelte:head>
<section class="how-it-works pb-4 md:pb-8">
  <slot name="main">
    <ContentSection section={section} index={0}></ContentSection>
  </slot>
</section>
