<script>
import ContentSection from '../../components/layout/ContentSection.svelte'

let section = {
  lead: 'Constituency results are provisional until the proportional calculation is completed',
  body: [
    'The constituency count is also unchanged from first past the post... up to a point.',
    `Once all the votes have been counted in the constituency, the result is declared but it's only provisional.`,
    'It may change as a result of the most past the post calculation.'
  ],
  // background: require('@/assets/constituency-declaration.svg')
}
</script>
<svelte:head>
  <title>Most Past the Post - how it works: counting</title>
  <meta name="Description" content="Outline of how the most past the post results are calculated.">
</svelte:head>
<section class="how-it-works pb-4 md:pb-8">
  <slot name="main">
    <ContentSection section={section} index={0}></ContentSection>
  </slot>
</section>
