<script>
import ContentSection from '../../components/layout/ContentSection.svelte'

let section = {
  lead: `Most past the post isn't a new voting system - it's a way of making an existing voting system fairer.`,
  body: [
    'It applies a set of calculations to first-past-the-post election results to produce a proportional allocation of seats.',
    'Some of the results change, but most stay the same.'
  ]
}
</script>
<svelte:head>
  <title>Most Past the Post - how it works</title>
  <meta name="Description" content="Outline of how the most past the post results are calculated.">
</svelte:head>
<section class="how-it-works pb-4 md:pb-8">
  <slot name="main">
    <ContentSection section={section} index={0}></ContentSection>
  </slot>
</section>
