<script>
import ContentSection from '../../components/layout/ContentSection.svelte'
import Threshold from '../../components/election/Threshold.svelte'

let section = {
  lead: 'A key feature of most past the post is the threshold',
  body: [
    'The threshold is set in advance and determines how the results are calculated.',
    'It defines what share of the overall vote a party must receive in order to qualify for proportionally allocated seats.'
  ],
  component: Threshold
}
</script>
<svelte:head>
  <title>Most Past the Post - how it works: threshold</title>
  <meta name="Description" content="Outline of how the most past the post results are calculated.">
</svelte:head>
<section class="how-it-works pb-4 md:pb-8">
  <slot name="main">
    <ContentSection section={section} index={0}></ContentSection>
  </slot>
</section>
