<script>
import ContentSection from '../../components/layout/ContentSection.svelte'

let section = {
  lead: `Casting your vote doesn't change...`,
  body: [
    `Most past the post keeps the same format for holding elections - you cast a single vote for a candidate in your constituency.`,
    `The difference is that your vote counts for the candidate (or that candidate's party), no matter where you live.`,
    `Your vote has the same weight as everyone else’s, even when the candidate you vote for doesn’t end up winning the seat.`,
    'There is no longer any reason to vote tactically. There is also no disincentive to vote, even in safe seats.'
  ],
  // image: require('@/assets/ballot-box.svg')
}
</script>
<svelte:head>
  <title>Most Past the Post - how it works: voting</title>
  <meta name="Description" content="Outline of how the most past the post results are calculated.">
</svelte:head>
<section class="how-it-works pb-4 md:pb-8">
  <slot name="main">
    <ContentSection section={section} index={0}></ContentSection>
  </slot>
</section>
