<script>
import includes from 'lodash/includes'
import size from 'lodash/size'
import { createEventDispatcher } from 'svelte'
import { elections, defaultElectionId, pendingElectionIds } from '../../../stores/elections.js'

export let theme = 'light'
export let includePending = false
export let selected = null

let showSelector = false
$: showSelector = size($elections) > 0

let loadingClass = 'loading'
$: {
  if (!selected && $defaultElectionId) {
    selected = $defaultElectionId
  }
  if (selected) {
    loadingClass = ''
  }
}

const dispatch = createEventDispatcher()
</script>

{#if showSelector}
  <div class="text-white serif {loadingClass}">
    <select bind:value={selected} 
            on:change="{() => dispatch('select-election', selected)}"
            aria-label="select election year"
            class="election-selector {theme}"
    >
      <option>year</option>
      {#each $elections as elec, idx}
        {#if includePending || !includes($pendingElectionIds, elec.id)}
          <option value={elec.id}>{ elec.year }</option>
        {/if}
      {/each}
    </select>
  </div>
{/if}
