<script>
import { createEventDispatcher } from 'svelte'

const dispatch = createEventDispatcher()

function handleDirectionSelect (event) {
  event.stopPropagation()
  const direction = event.currentTarget.dataset.direction
  event.currentTarget.blur()
  dispatch('navigation-direction', direction)
}
</script>
<div class="relative hex-nav-container fill-current text-gray-800 border border-gray-800 bg-gray-100 text-5xl md:text-6xl">
  <button on:click="{handleDirectionSelect}" data-direction="north" class="hex-button north" aria-label="move north"><i class="fas fa-caret-up"></i></button>
  <button on:click="{handleDirectionSelect}" data-direction="north-west" class="hex-button north-west" aria-label="move north-west"><i class="fas fa-caret-left" data-fa-transform="rotate-30"></i></button>
  <button on:click="{handleDirectionSelect}" data-direction="north-east" class="hex-button north-east" aria-label="move north-east"><i class="fas fa-caret-right" data-fa-transform="rotate--30"></i></button>
  <button on:click="{handleDirectionSelect}" data-direction="south-east" class="hex-button south-east" aria-label="move south-east"><i class="fas fa-caret-right" data-fa-transform="rotate-30"></i></button>
  <button on:click="{handleDirectionSelect}" data-direction="south-west" class="hex-button south-west" aria-label="move south-west"><i class="fas fa-caret-left" data-fa-transform="rotate--30"></i></button>
  <button on:click="{handleDirectionSelect}" data-direction="south" class="hex-button south" aria-label="move south"><i class="fas fa-caret-down"></i></button>
</div>
