<script>
import isInteger from 'lodash/isInteger'
import { createEventDispatcher } from 'svelte'
import { calculationIndex, currentCalculation, numCalculations, resultsCalculations, calculationComplete, animationSpeed }  from '../../../stores/results.js'

const dispatch = createEventDispatcher()

let calculationStarted = false

let animationDelay
let backwardControlDisabled = false
let forwardControlDisabled = false
let calculationInProgress = false
let isPaused = false
let buttonActive = 'play-1'
$: {
  animationDelay = 1200 / Math.abs($animationSpeed)
  calculationInProgress = calculationStarted && !$calculationComplete
  backwardControlDisabled = !calculationInProgress || $calculationIndex === 0
  forwardControlDisabled = !calculationInProgress || $calculationIndex === $numCalculations
  isPaused = calculationInProgress && $animationSpeed === 0
  if (isPaused) {
    buttonActive = 'pause'
  } else if (calculationInProgress) {
    buttonActive = `play-${$animationSpeed}`
  }
}

function startAnimation () {
  animationSpeed.set(1)
  calculationStarted = true
  processCalculation()
}

function setAnimationSpeed (speed) {
  animationSpeed.set(speed)
}

function processCalculation () {
  if ($animationSpeed === 0) {
    return
  }
  if ($calculationComplete) {
    return
  }

  if (isInteger($calculationIndex)) {
    calculationIndex.process($calculationIndex)
    setTimeout(processCalculation, animationDelay)
  }
}

function resetControls () {
  animationSpeed.set(0)
  dispatch('reset', 'calculations reset')
}
</script>

<div class="flex justify-center items-center flex-no-shrink results-controls">
  <button on:click={() => setAnimationSpeed(0)}
          class="button button-primary button-square flex justify-center items-center mx-1 md:mx-2 w-10 h-10 md:w-12 md:h-12"
          class:active={buttonActive === 'pause'}
          disabled={!calculationInProgress || isPaused}>
    <i class="fas fa-pause"></i>
  </button>
  <button on:click={startAnimation}
          class="button button-primary button-square flex justify-center items-center mx-1 md:mx-2 w-10 h-10 md:w-12 md:h-12"
          class:active={buttonActive === 'play-1'}
          disabled={$calculationComplete}>
    <i class="fas fa-play"></i>
  </button>
  <button on:click={() => setAnimationSpeed(2)}
          class="button button-primary button-square flex justify-center items-center mx-1 md:mx-2 w-10 h-10 md:w-12 md:h-12"
          class:active={buttonActive === 'play-2'}
          disabled={forwardControlDisabled}>
    <i class="fas fa-forward"></i>
  </button>
  <button on:click={() => setAnimationSpeed(3)}
          class="button button-primary button-square flex justify-center items-center mx-1 md:mx-2 w-10 h-10 md:w-12 md:h-12"
          class:active={buttonActive === 'play-3'}
          disabled={forwardControlDisabled}>
    <i class="fas fa-fast-forward"></i>
  </button>
  {#if $calculationComplete}
    <button on:click={resetControls} class="button button-primary button-square flex justify-center items-center mx-1 md:mx-2 w-10 h-10 md:w-12 md:h-12">
      <i class="fa fa-redo"></i>
    </button>
  {/if}
</div>
