<script>
export let lead
export let content
export let link = ''
export let klass = ''
</script>

<article class="{klass} md:mr-4 p-4 text-lg">
  <p class="lead md:w-2/3">
    { lead }
  </p>
  <div class="flex flex-wrap justify-between">
    {#each content as paragraph (paragraph)}
      <p class="py-2 md:pr-4">
        { paragraph }
      </p>
    {/each}
  </div>
{#if link}
  <p class="mt-4">
    <router-link :to="link.to" class="button no-underline" >
      <span>{ link.text }</span>
      {#if link.icon}
        <span class="mx-2" v-if="link.icon"><i class="fas fa-lg" :class="link.icon"></i></span>
      {/if}
    </router-link>
  </p>
{/if}
</article>