<div id={section.id} class="py-6 md:py-12 sm:text-lg md:text-xl {sectionClasses}">
  <article class="container">
    {#if section.header}
      <h3 class="w-full md:w-1/3 md:text-right font-serif font-bold text-2xl pr-4 pb-2">{ section.header }</h3>
    {/if}
    {#if section.lead}
      <p class="mb0 w-full md:w-1/3 md:text-right md:pl-24 md:pr-3 pb-4 leading-normal lead">{ section.lead }</p>
    {/if}
    {#if section.body}
      <div class="flex flex-wrap justify-end items-start">
        <div class="w-full md:w-2/3 flex flex-wrap">
          {#each section.body as paragraph}
            <p class="md:w-2/3 py-2 md:py-4">
              { paragraph }
            </p>
          {/each}
        </div>
      </div>
    {/if}
  </article>
  {#if section.component}
    <div class="container flex justify-end">
      <div class="w-full md:w-2/3">
        <svelte:component class="w-full" this={section.component}/>
      </div>
    </div>
  {/if}

  {#if section.link}
    <div class="container flex justify-center items-end">
      <div class="w-full md:mr-4 text-right">
        <a class="glow hover:underline {sectionClasses}" href="{section.link.href}">
          { section.link.text } <span class="icon is-medium"><i class="fas fa-chevron-right"></i></span>
        </a>
      </div>
    </div>
  {/if}
</div>

<script>
export let section = {}
export let index = 0

let sectionClasses = "bg-gray-700 text-gray-100"
$: if (index % 2 === 0) {
  sectionClasses = "bg-gray-100 text-gray-800"
}
</script>
