<script>
let appDatasetDate = process.env.APP_DATA_GENERATED
let datasetDate
$: {
  if (appDatasetDate) {
    datasetDate = new Date(appDatasetDate).toLocaleDateString('en-GB')
  }
}
</script>
<div class="flex items-end justify-between text-sm">
  <div>
    {#if datasetDate}
      dataset generated: {datasetDate}
    {/if}
  </div>
  <div>
    <div>
      <a href="https://gitlab.com/mungoh/mptp-ui" class="link" target="_blank" rel="noopener">
        <span class="icon is-medium"><i class="fab fa-lg fa-gitlab"></i></span>
        <span class="pl-1">mptp-ui v{process.env.APP_VERSION}</span>
      </a>
    </div>
    <div class="pt-2">
      <a href="https://gitlab.com/mungoh/mptp-ruby" target="_blank" rel="noopener">
        <span class="icon is-medium"><i class="fab fa-lg fa-gitlab"></i></span>
        <span class="pl-1">mptp-ruby v1.0.0</span>
      </a>
    </div>
  </div>
</div>
