<script>
import last from 'lodash/last'
import slice from 'lodash/slice'
import split from 'lodash/split'
import lowerCase from 'lodash/lowerCase'
import { stores } from '@sapper/app'
const { page } = stores()

export let segment
let title = ''
let subTitle = ''
let hasSubtitle = false
$: {
  switch (segment) {
    case 'demo' :
      title = 'Demo'
      subTitle = last(split($page.path, '/'))
      break
    case 'how-it-works' :
      title = 'How it works'
      subTitle = last(slice(split($page.path, '/'), 2)) || ''
      break
    case 'pending' :
      title = 'Demo'
      subTitle = 'pending'
      break
    default :
      title = 'Most Past the Post'
      subTitle = ''
  }

  hasSubtitle = subTitle && subTitle.length > 0
}
</script>

<div class="w-full flex flex-no-wrap justify-start md:justify-end items-baseline">
  <h1 class="w-auto md:w-1/3 my-0 p-0 md:pr-3 md:text-right text-2xl md:text-3xl font-bold whitespace-no-wrap">
    { title }<span class:invisible={!hasSubtitle}>:</span>
  </h1>
  <h2 class="w-auto md:w-2/3 my-0 pl-2 md:p-0 md:text-2xl font-bold leading-none">
    { lowerCase(subTitle) }
  </h2>
</div>
