<script>
import get from 'lodash/get'
import has from 'lodash/has'
import { stores } from '@sapper/app'
import { defaultElectionId } from '../../stores/elections.js'
const { preloading, page } = stores()

export let segment
let electionId = null
$: {
  if (!$preloading) {
    if (has($page, 'params.slug')) {
      electionId = get($page, 'params.slug', $defaultElectionId)
    }
  }
  if (!electionId) {
    electionId = $defaultElectionId
  }
}
</script>

<nav class="nav-menu w-full bg-gray-700">
  <div class="container flex md:justify-end items-end pt-2">
    <div class="flex w-full md:w-2/3 justify-start items-center">
      <h3 class="nav-icon my-2 md:my-4 mr-4 dim">
        <a class="font-serif text-base md:text-xl font-bold db" href="/" aria-label="Introduction">
          <img src="images/mptp-icon.svg" class="h-6 md:h-8" alt="icon" />
        </a>
      </h3>
      <h3 class="nav-item my-2 md:my-4 mr-4 link dim" class:is-active={segment === 'how-it-works'}>
        <a class="font-serif text-base md:text-xl font-bold db" href="/how-it-works">How it works</a>
      </h3>
      {#if electionId}
        <h3 class="nav-item my-2 md:my-4 mr-4 link dim" class:is-active={segment === 'demo'}>
          <a class="font-serif text-base md:text-xl font-bold db" href="/demo/{ electionId }/dataset">Demo</a>
        </h3>
      {/if}
    </div>
  </div>
</nav>
