<script>
import concat from 'lodash/concat'
import findIndex from 'lodash/findIndex'
import get from 'lodash/get'
import includes from 'lodash/includes'
import last from 'lodash/last'
import replace from 'lodash/replace'
import size from 'lodash/size'
import split from 'lodash/split'
import without from 'lodash/without'
import { stores } from '@sapper/app'
const { page } = stores()

import { headerClasses } from '../../stores/ui.js'

export let segment
export let prevLink = null
export let nextLink = null

function subNavHref (pagePath, currentPath, targetPath) {
  let splitPath = split(pagePath, '/')
  // root path
  if (size(splitPath) < 3 && last(splitPath) === currentPath) {
    return `${pagePath}/${targetPath}`
  } else if (includes(splitPath, targetPath)) {
    const regex = new RegExp(`\/${currentPath}.*`)
    return replace(pagePath, regex, '')
  }
  return replace(pagePath, currentPath, targetPath)
}

const subNavigationRoutes = {
  'how-it-works': [
    { path: 'how-it-works', label: 'How it works', rel: 'prefetch' },
    { path: 'voting', label: 'Voting', rel: 'prefetch' },
    { path: 'counting', label: 'Counting', rel: 'prefetch' },
    { path: 'threshold', label: 'Threshold', rel: 'prefetch' },
    { path: 'below-threshold-calculation', label: 'Below threshold calculation', rel: 'prefetch' },
    { path: 'above-threshold-calculation', label: 'Above threshold calculation', rel: 'prefetch' }
  ],
  'demo': [
    { path: 'dataset', label: 'Dataset' },
    { path: 'calculations', label: 'Calculations' },
    { path: 'results', label: 'Results' }
  ]
}

let subNavigationEnabled = false
let subNavRoutes
$: {
  subNavRoutes = get(subNavigationRoutes, segment, [])

  if (size(subNavRoutes) > 0) {
    const currentPath = last(split($page.path, '/'))
    const currentPathIndex = findIndex(subNavRoutes, (r) => r.path === currentPath)
    if (currentPathIndex > 0) {
      prevLink = subNavRoutes[currentPathIndex - 1]
      prevLink.href = subNavHref($page.path, currentPath, prevLink.path)
    } else {
      prevLink = null
    }
    if (currentPathIndex + 1 < size(subNavRoutes)) {
      nextLink = subNavRoutes[currentPathIndex + 1]
      nextLink.href = subNavHref($page.path, currentPath, nextLink.path)
    } else {
      nextLink = null
    }
  } else {
    prevLink = null
    nextLink = null
  }

  subNavigationEnabled = prevLink || nextLink
  if (!subNavigationEnabled) {
    headerClasses.set(concat($headerClasses, ['sub-nav-disabled']))
  } else {
    headerClasses.set(without($headerClasses, 'sub-nav-disabled'))
  }  
}
</script>
{#if subNavigationEnabled}
  <section class="sub-navigation bg-gray-300 text-gray-900 w-full overflow-x-hidden flex justify-between items-center text-sm md:text-lg">
    {#if prevLink}
      <a href="{prevLink.href}" rel="{prevLink.rel}" class="flex justify-start items-center font-serif font-bold pl-2 md:pl-12">
        <span class="icon pr-2"><i class="fas fa fa-chevron-left"></i></span>
        <span class="capitalize">{prevLink.label}</span>
      </a>
    {:else}
      <span><!-- placeholder --></span>
    {/if}
    {#if nextLink}
      <a href="{nextLink.href}" rel="{nextLink.rel}" class="flex justify-end items-center font-serif font-bold pr-2 md:pr-12">
        <span class="flex-grow capitalize pr-2 text-right">{ nextLink.label }</span>
        <span class="flex-shrink icon"><i class="fas fa-chevron-right"></i></span>
      </a>
    {/if}
  </section>
{/if}
