.button
  @apply px-2 py-1

  @screen md
    @apply px-3 py-2

.button-primary, .button-primary a:visited
  @apply text-gray-100 no-underline border border-2 border-gray-800 bg-gray-800

  &:hover
    @apply text-gray-800 bg-gray-100 border-gray-800 cursor-pointer

  &:disabled, &[disabled=disabled]
    @apply opacity-50 cursor-not-allowed

  &.active
    @apply text-gray-800 bg-gray-200 border-gray-800

.button-square
  @apply p-2

  @screen md
    @apply p-3

.button-arrow
  font-family: "Font Awesome 5 Free", FontAwesome
  stroke-width: 2

  &:hover
    @apply text-gray-800 cursor-pointer
    fill: theme('colors.gray.100')
    stroke: theme('colors.gray.800')

.hex-nav-container
  width: 112px
  height: 112px
  @screen sm
    @apply h-32 w-32

.hex-button
  position: absolute
  line-height: 0

  path
    stroke-width: 24
    @screen md
      stroke-width: 16

  &:hover
    path
      @apply text-gray-800 cursor-pointer
      fill: theme('colors.gray.100')
      stroke: theme('colors.gray.800')
      

  &.north
    top: -10%
    left: 40%
  &.north-west
    top: 10%
    left: 5%
  &.north-east
    top: 10%
    right: 5%
  &.south-west
    bottom: 10%
    left: 5%
  &.south-east
    bottom: 10%
    right: 5%
  &.south
    bottom: -5%
    left: 40%

  @screen md
    &.north
      top: -15%
      left: 35%
    &.north-west
      top: 5%
      left: 5%
    &.north-east
      top: 5%
      right: 5%
    &.south-west
      bottom: 5%
      left: 5%
    &.south-east
      bottom: 5%
      right: 5%
    &.south
      bottom: -10%
      left: 35%

select
  @apply p-2

  &.dark
    @apply bg-gray-600 text-gray-100 border border-gray-100
    &:hover
      @apply text-gray-800 bg-gray-100 border-gray-600
  
  &.light
    @apply bg-gray-100 text-gray-800 border border-gray-800
    &:hover
      @apply text-gray-100 bg-gray-800

