.site-header
  position: fixed
  top: 0

  @screen md
    height: $header-height-desktop

  .nav-menu
    transition: 0.4s
    transition: display 2s ease-in-out 0.5s

  .header-bar
    transition: 0.4s
    @apply h-12

    @screen md
      @apply h-20

  .sub-navigation
    height: $header-subnav-height-mobile
    @screen md
      height: $header-subnav-height-desktop
    transition: 0.4s
    transition: display 2s ease-in-out 0.5s

section.content
  min-height: calc(100vh - #{$header-height-mobile + $footer-height-mobile})
  margin-top: $header-height-mobile

  @screen md
    min-height: calc(100vh - #{$header-height-desktop + $footer-height-desktop})
    margin-top: $header-height-desktop

.sub-nav-disabled
  .site-header
    .header-bar
      @apply h-20

      @screen md
        @apply h-32

.minimized
  .site-header
    height: $header-height-mobile-minimized
    @screen md
      height: $header-height-desktop-minimized

    .nav-menu
      display: none

    .sub-navigation
      display: none

    .header-bar
      @apply h-12

      @screen md
        @apply h-16
    
  section.content
    margin-top: $header-height-mobile-minimized
    min-height: calc(100vh - #{$header-height-mobile-minimized + $footer-height-mobile})

    @screen md
      margin-top: $header-height-desktop-minimized

.nav-menu
  .nav-item
    border-bottom: 1px solid theme('colors.gray.700')
    a, a:visited
      color: theme('colors.gray.100')
    &.is-active, &:hover
      border-bottom: 1px solid theme('colors.gray.100')
