@keyframes dash-hexagon {
  to {
    stroke-dashoffset: 750;
  }
}

@mixin party-colour($party, $hex-colour) {
  @keyframes highlight-#{$party} {
    from {
      fill: white;
    }
    to {
      fill: $hex-colour;
    }
  }

  .info-panel, .election-map {
    .highlight.#{$party} {
      animation-name: highlight-#{$party} 0.5s alternate-reverse infinite;
    }
    
    .selected.#{$party} {
      stroke-width: 7;
      stroke-dasharray: 30, 10;
      animation: dash-hexagon 8s linear infinite, highlight-#{$party} 0.5s alternate-reverse infinite;
    }

    polygon.#{$party}, rect.#{$party} {
      fill: $hex-colour;
    }
  }

  .constituencies.header.#{$party} {
    padding-top: 0;
    border-top: 2em solid darken($hex-colour, 10%);
  }

  .constituencies.#{$party} {
    .current-calculations {
      border-color: darken($hex-colour, 10%);
      border-style: solid;
      border-width: 2px;

      .highlight.#{$party} {
        background-color: rgba(darken($hex-colour, 10%), 0.75);

        @if (lightness(darken($hex-colour, 10%)) <= 25) {
          color: #e5e5e5;
        } @else if (lightness(darken($hex-colour, 10%)) <= 50) {
          color: #333333;
        } @else {
          color: #000000;
        }
      }
    }

    .unassigned {
      .constituency.#{$party} {
        background-color: rgba($hex-colour, 0.5);
      }
    }
  }

  .party-colour-square.#{$party} {
    background-color: $hex-colour;
  }

  circle.#{$party} {
    fill: none;
    stroke: $hex-colour;
  }

  .pie-chart g.ct-series path.#{$party} {
    fill: $hex-colour !important;
  }
}

@include party-colour("conservative", #0489e5);
@include party-colour("alliance", #ffcc11);
@include party-colour("dup", #d46a4c);
@include party-colour("green", #7cb830);
@include party-colour("labour", #ef1c27);
@include party-colour("liberal-democrat", #ffc031);
@include party-colour("plaid-cymru", #008142);
@include party-colour("respect", #b10c13);
@include party-colour("sdlp", #99ff66);
@include party-colour("sinn-fein", #008800);
@include party-colour("snp", #fdf38e);
@include party-colour("ukip", #953866);
@include party-colour("uup", #9999ff);
@include party-colour("brexit", #12b6cf);

@include party-colour("independent", #999999);
@include party-colour("none", #dddddd);
@include party-colour("other", #bbbbbb);

// example parties
@include party-colour("party-one", #8af9ce);
@include party-colour("party-two", #c4bf6e);
@include party-colour("party-three", #79c0de);
@include party-colour("party-four", #c6b5e8);
@include party-colour("party-five", #feec81);
