@-webkit-keyframes fadeOut
  0% 
    opacity: 1
  100%
    opacity: 0

@keyframes fadeOut
  0%
    opacity: 1
  100%
    opacity: 0

@-webkit-keyframes flyOut
  0% 
    transform: translateY(0)
  100%
    transform: translateY(-25)

@keyframes flyOut
  0%
    transform: translateY(0)
  100%
    transform: translateY(-25)

.fade-out, .fly-out
  // -webkit-animation-duration: 0.2s
  // animation-duration: 0.2s
  transition-delay: 0.4s
  transition-timing-function: ease-out

.fade-out
  -webkit-animation-name: fadeOut
  animation-name: fadeOut

.fly-out
  -webkit-animation-name: flyOut
  animation-name: flyOut
