<script context="module">
import {
  elections,
  election,
  electionsLoaded,
  defaultElectionId,
  electionLoaded,
  electionIds,
  electionResults
} from '../../../stores/elections.js'

export async function preload(page) {
  const { slug } = page.params
  await election.load(slug)
  return
}
</script>

<script>
import get from 'lodash/get'
import isNull from 'lodash/isNull'
import size from 'lodash/size'
import { onMount } from 'svelte'
import { stores, goto } from '@sapper/app'

import {
  resultsCalculations,
  calculationIndex,
  calculationComplete,
  numCalculations,
  currentCalculation,
  animationSpeed
} from '../../../stores/results.js'
import {
  parties,
  partyRankings,
  partyAssignments,
  partiesLoaded,
  partyRankingsLoaded
} from '../../../stores/parties.js'
import {
  constituencies,
  resultsConstituencies,
  unAssignedConstituencySlugs
} from '../../../stores/constituencies.js'
import Election from '../../../api/mptp/election.js'
import ResultsControls from '../../../components/election/navigation/ResultsControls.svelte'
import ResultsMap from '../../../components/election/result/ResultsMap.svelte'
import RankingTable from '../../../components/election/result/RankingTable.svelte'
import SeatReassignments from '../../../components/election/result/SeatReassignments.svelte'

const { preloading, page } = stores()
const {slug} = $page.params

let loading = true
let calculationHeader, calculationDescription
let calculationStarted = false
let infoPopup = {
  display: false,
  title: ''
}
let showResults = false

let calculationType

function resetCalculations() {
  calculationComplete.set(false)
  resultsCalculations.reset()
  calculationIndex.set(0)
}

function initResults () {
  resultsCalculations.reset()
  electionResults.loadParties(slug)
  Election.loadCalculations(slug)
    .then((calculations) => {
      resultsCalculations.set(calculations)
    })
    .then(() => {
      calculationIndex.set(0)
    })
}

let calculationsLoaded = false

$: {
  if (!calculationsLoaded && size($constituencies) > 0) {
    initResults()
    resetCalculations()
    calculationsLoaded = true
  }

  loading = !calculationsLoaded || isNull($calculationIndex) || $numCalculations === 0
  calculationStarted = !loading && !$calculationComplete
  calculationType = get($currentCalculation, 'calculation_type')
  if (loading) {
    calculationHeader = 'Loading data'
    calculationDescription = ''
  } else if (calculationType === 'below_threshold') {
    calculationHeader = 'Below threshold seats'
    calculationDescription = `Candidates from parties polling below the threshold who come first in their constituency election win the seat outright.
  These seats are assigned to the winning candidates first of all and start to fill in the final results.`
  } else if (calculationType === 'above_threshold') {
    calculationHeader = 'Above threshold seats'
    calculationDescription = `Candidates from parties polling above the threshold are all ranked in order of votes / size of constituency. Then seats are allocated
    to the parties in blocks relative to the size of their overall share of the vote.`
  } else if (calculationType === 'seat_reassignment' && !$calculationComplete) {
    calculationHeader = 'Above threshold seat reassignment'
    calculationDescription = `In this final stage, seats that have changed from the first past the post result are reavaluated to see if they can be
    swapped with other parties' seats. This process doesn't affect the number of seats held by each party but can make the final result 
    better represent local voting patterns.`
    if ($animationSpeed > 0) {
      animationSpeed.set(0)
    }
  } else {
    calculationHeader = 'Complete'
    calculationDescription = 'Once all the calculations have run the full parliamentary map is complete.'
  }

  showResults = $electionLoaded && $numCalculations > 0 && $partiesLoaded && $partyRankingsLoaded
}
</script>
<svelte:head>
  <title>Most Past the Post - Demo: calculations</title>
  <meta name="Description" content="See how most past the post results are calculated step by step.">
</svelte:head>
<section class="demo pb-4 md:pb-8">
  <div class="container">
    <div
      class:loading={loading}
      class="flex flex-wrap items-start pb-4 mt-3 md:mt-4 text-gray-700 py-4">
      <div class="order-1 md:order-0 pb-4 md:w-1/3 flex flex-shrink md:flex-no-shrink justify-center items-end">
        {#if showResults }
          <ResultsControls on:reset={resetCalculations}></ResultsControls>
        {/if}
      </div>
      <div class="order-0 md:order-1 pb-4 w-full md:w-2/3">
        <h3 class="title text-2xl">{ calculationHeader }</h3>
        <p class="lead">
          { calculationDescription }
          {#if $calculationComplete }
            <a href="/demo/{slug}/results" class="glow hover:underline">
              View results <span class="icon is-medium"><i class="fas fa-chevron-right"></i></span>
            </a>
          {/if}
        </p>
      </div>
      {#if showResults }
        <div class="order-3 md:order-3 pb-4 w-full max-w-full md:w-2/3 md:pt-4">
          {#if calculationType === 'below_threshold' || calculationType === 'above_threshold' }
            <RankingTable></RankingTable>
          {:else if calculationType === 'seat_reassignment' && !$calculationComplete }
            <SeatReassignments></SeatReassignments>
          {/if}
        </div>
        <div class="order-2 w-2/3 self-end md:self-start md:w-1/3 pr-2 py-3">
          <ResultsMap></ResultsMap>
        </div>
      {/if}
    </div>
  </div>
</section>