<script context="module">
import {
  elections,
  election,
  electionsLoaded,
  defaultElectionId,
  electionLoaded,
  electionIds
} from '../../../stores/elections.js'

export async function preload(page) {
  const { slug } = page.params
  election.load(slug)

  return
}
</script>

<script>
import cloneDeep from 'lodash/cloneDeep'
import filter from 'lodash/filter'
import get from 'lodash/get'
import Numeral from 'numeral'
import { stores, goto } from '@sapper/app'
import ContentBlock from '../../../components/layout/ContentBlock.svelte'
import ElectionSelector from '../../../components/election/navigation/ElectionSelector.svelte'
import ResultsBarChart from '../../../components/election/stats/ResultsBarChart.svelte'

const { preloading, page } = stores()
const {slug} = $page.params

let totalVotes, turnoutPercent, wastedVotesFPP, wastedVotesFPPPercent
let chartData = []
let displayMode = 'total-seats'
let displayModes = [
  { mode: 'total-seats', label: '# seats' },
  { mode: 'percentage-seats', label: '% seats' },
  { mode: 'percentage-votes', label: '% votes' }
]
let demoLoaded = false
$: {
  if (!$electionLoaded) { // TODO: not needed?
    election.load(slug)
  }

  totalVotes = Numeral(get($election, 'stats.total_votes.total')).format('0.0a')
  turnoutPercent = Numeral(get($election, 'stats.total_votes.turnout')).format('0.0')
  wastedVotesFPP = Numeral(get($election, 'stats.fpp_results.wasted_votes')).format('0.0a')

  const numWasted = get($election, 'stats.fpp_results.wasted_votes')
  const numTotal = get($election, 'stats.total_votes.total')
  const percent = (numWasted / numTotal)
  wastedVotesFPPPercent = Numeral(percent).format('0.00%')

  if ($electionLoaded) {
    if (displayMode === 'total-seats') {
      chartData = $election.stats.fpp_results.seat_totals
    } else if (displayMode === 'percentage-seats') {
      chartData = $election.stats.fpp_results.seat_totals
    } else if (displayMode === 'percentage-votes') {
      chartData = cloneDeep($election.stats.total_votes)
      chartData.parties = filter(chartData.parties, (stat) => { return stat[0] !== 'OTHER' })
    }
  }
}

let contentBlock = {
  lead: 'The data in these demos is generated from real election results but they only give an indication of what elections run under most past the post would look like.',
  content: [
    'The big caveat is that voting behaviour could change considerably once the electoral rules are reformed.',
    'More people would be incentivised to vote in safe seats, and there would no longer be any need for tactical voting.',
    `See how most past the post's calculations make these results fair...`
  ]
}

function loadDataset (event) {
  const id = event.detail
  if (!id || id === $election.id) {
    return
  }
  
  return goto(`/demo/${id}/dataset`)
}
</script>

<svelte:head>
  <title>Most Past the Post - results dataset</title>
  <meta name="Description" content="Choose from recent elections to see how the original first-past-the-post (FPTP) results compare once the MPTP calculations are applied.">
</svelte:head>

<section class="demo pb-4 md:pb-8">
  <div
    class:loading={!$electionLoaded}
    class="container flex flex-wrap md:flex-row-reverse py-4 mt-4 md:mt-5">
    {#if $electionLoaded}
      <div class="order-1 md:order-0 pt-4 md:pt-0 w-full md:w-2/3 flex flex-col">
        <ContentBlock klass="bg-gray-100 text-gray-700" {...contentBlock}></ContentBlock>
        <p class="text-right pt-4 pr-4">
          <a class="text-gray-800 text-lg dim no-underline" href="/demo/{$election.id}/calculations" rel="prefetch">
            <span class="pr-2">View calculations</span>
            <span><i class="fas fa-chevron-right"></i></span>
          </a>
        </p>
      </div>
      <div class="order-0 md:order-1 pt-4 md:pt-0 w-full md:w-1/3 md:pr-4">
        <article class="center border border-gray-600 text-gray-600">
          <div class="flex justify-start items-center bg-gray-600 text-gray-100 my-0 py-3 px-3 text-center uppercase">
            <h5 class="m0 p-0 pr-3">Select dataset:</h5>
            <ElectionSelector includePending=true theme="dark" on:select-election="{loadDataset}"></ElectionSelector>
          </div>
          <div class="m0 p-0">
            <div class="p-3">
              <h4 class="mt-0 mb-2">Summary</h4>
              In the { $election.year } general election there were { totalVotes } votes cast in { $election.stats.constituencies } constituencies.
              Turnout was { turnoutPercent }.
            </div>
            <div class="p-3">
              Of the votes cast, { wastedVotesFPP } ({ wastedVotesFPPPercent }) made no difference to the outcome of any seat.
              These are known as "wasted votes".
            </div>
            <div class="flex w-full justify-between">
              {#each displayModes as tab}
                <div
                  on:click={() => displayMode = tab.mode}
                  class="flex-grow pointer tab tab-primary text-center"
                  class:active="{ tab.mode === displayMode }"
                >{ tab.label }</div>
              {/each}
            </div>
            <div class="px-3">
              <ResultsBarChart
                chartResults={chartData}
                stats={$election.stats}
                displayMode={ displayMode }
              ></ResultsBarChart>
            </div>
          </div>
        </article>
      </div>
    {/if}
  </div>
</section>
