<script>
import find from 'lodash/find'
import filter from 'lodash/filter'
import forEach from 'lodash/forEach'
import get from 'lodash/get'
import includes from 'lodash/includes'
import map from 'lodash/map'
import { onMount } from 'svelte'
import { stores, goto } from '@sapper/app'
import {
  election,
  defaultElectionId,
  electionLoaded,
  electionResults,
  electionResultsLoaded
} from '../../../stores/elections.js'
import { resultsCalculations, calculationComplete } from '../../../stores/results.js'
import { pinCoordinates, cellDistance, highlightCell } from '../../../stores/map.js'
import HexNavigation from '../../../components/election/navigation/HexNavigation.svelte'
import GBElectionMap from '../../../components/election/geometry/map/GBElectionMap.svelte'
import ElectionSummaryResults from '../../../components/election/result/ElectionSummaryResults.svelte'
import ResultInfo from '../../../components/election/result/ResultInfo.svelte'
import PartyKeys from '../../../components/election/PartyKeys.svelte'

import NearestPoint from '../../../api/geometry/NearestPoint.js'
import PolygonCenter from '../../../api/geometry/PolygonCenter.js'

const { preloading, page } = stores()
const {slug} = $page.params

onMount(() => {
  // slug = get($response, 'params.id', '')
  // if (slug.length === 0) {
  //   let redirectUrl = `/demo/${$defaultElectionId}/results`
  //   return router.navigate({ url: redirectUrl })
  // }

  if (!$electionLoaded || slug !== $election.id) {
    election.load(slug)
  }
})

let electionMap
let changedSeats = []
let changedConstituencySlugs = []
let filteredSeats = []
let filters = [
  {
    name: 'All',
    active: true
  },
  {
    name: 'Changed',
    active: false
  },
  {
    name: 'Unchanged',
    active: false
  }
]
let selectedResult = null
let selectedInfo = 'summary'

function filterSeats(name) {
  let slug
  if (name === 'Changed') {
    return filter($electionResults.mpp_results.seats, (seat) => {
      slug = get(seat, 'constituency.slug')
      return includes(changedConstituencySlugs, slug)
    })
  } else if (name === 'Unchanged') {
    return filter($electionResults.mpp_results.seats, (seat) => {
      slug = get(seat, 'constituency.slug')
      return !includes(changedConstituencySlugs, slug)
    })
  }
  return $electionResults.mpp_results.seats
}

let selectedFilter = 'All'
$: {
  forEach(filters, (val, idx) => {
    val.active = val.name === selectedFilter
    filters[idx] = val
  })
  if ($electionLoaded && $electionResultsLoaded) {
    filteredSeats = filterSeats(selectedFilter)
    if (selectedResult) {
      if (selectedFilter === 'Changed' && !selectedResult.changed) {
        selectedResult = null
      } else if (selectedFilter === 'Unchanged' && selectedResult.changed) {
        selectedResult = null
      }
    }
  }
}

function handleConstituencyClick (event) {
  const constituencySlug = event.detail
  showConstituency(constituencySlug)
  setPinCoordinates(constituencySlug)
}

function setPinCoordinates (constituencySlug) {
  const polygon = electionMap.querySelector(`polygon[data-constituency=${constituencySlug}]`)
  const center = PolygonCenter(polygon)
  pinCoordinates.set(center)
}

function showConstituency (constituencySlug) {
  selectedResult = {}
  selectedResult.mppResult = find($electionResults.mpp_results.seats, (seat) => { return seat.constituency.slug === constituencySlug })
  if (includes(changedConstituencySlugs, constituencySlug)) {
    selectedResult.fppResult = find($electionResults.fpp_results.seats, (seat) => { return seat.constituency.slug === constituencySlug })
    selectedResult.changed = true
  } else {
    selectedResult.fppResult = selectedResult.mppResult
    selectedResult.changed = false
  }
  selectedInfo = 'result'
  highlightCell.set(constituencySlug)
}

function navigateToConstituency (event) {
  const direction = event.detail

  let center
  const activePolygons = electionMap.querySelectorAll('polygon.active')
  const points = map(activePolygons, (elem) => {
    center = PolygonCenter(elem)
    return {
      slug: elem.dataset.constituency,
      x: center.x,
      y: center.y
    }
  })

  const currentPoint = find(points, (p) => { return p.x === $pinCoordinates.x && p.y === $pinCoordinates.y })
  let currentPolygon
  if (currentPoint) {
    currentPolygon = electionMap.querySelector(`polygon.active[data-constituency=${currentPoint.slug}`)
  }

  let nearestElem = NearestPoint($pinCoordinates, currentPolygon, points, direction)
  if (nearestElem) {
    showConstituency(nearestElem.slug)
    pinCoordinates.set(nearestElem)
  }
}

$: {
  resultsCalculations.reset()
  calculationComplete.set(true)

  changedSeats = get($electionResults, 'mpp_results.changed_seats', [])
  changedConstituencySlugs = map(changedSeats, 'constituency')
}
</script>
<svelte:head>
  <title>Most Past the Post - demo results</title>
  <meta name="Description" content="Explore most past the post election results. View seat changes by constituency.">
</svelte:head>
<section class="demo pb-4 md:pb-8">
  <div class="container h-full pt-4 pb-16" class:loading={!$electionLoaded}>
    {#if $electionLoaded && $electionResultsLoaded}
      <h3 class="pt-2 md:py-4 md:pb-2 text-2xl">GB general election { $election.year }</h3>
      <div class="relative h-full flex items-start py-4 lg:pb-8">
        <div class="w-1/3 h-full pb-8 flex flex-col justify-between items-stretch">
          <div class="w-full flex-grow flex-no-shrink pb-4 lg:pb-8">
            <h4 class="text-xs md:text-lg pb-1 md:pb-0">Filter seats:</h4>
            <div class="w-full flex flex-col justify-start border border-gray-700">
              {#each filters as filter}
                <div
                  class="filter text-xs md:text-sm w-full p-2 md:p-4 flex items-center justify-between"
                  class:active={filter.active}>
                    <label class="flex-grow h-full cursor-pointer md:mr-2" for="filter-{filter.name.toLowerCase()}">
                      {filter.name}
                    </label>
                    <input type="radio" bind:group={selectedFilter} id="filter-{filter.name.toLowerCase()}" value={filter.name} />
                </div>
              {/each}
            </div>
          </div>

          <div class="w-full h-32 md:mb-4 self-start flex lg:hidden justify-end">
            <HexNavigation on:navigation-direction={navigateToConstituency}></HexNavigation>
          </div>

          <div class="absolute bottom-0 md:static w-full lg:w-auto flex lg:flex-wrap items-start justify-start pb-2">
            <button on:click={() => { selectedInfo = 'summary' }} 
                    aria-label="Election summary"
                    class="border border-gray-700 bg-gray-100 text-gray-700 mr-2 w-8 h-8 md:w-16 md:h-16">
              <i class="fa fa-info text-base md:text-2xl"></i>
            </button>
            <button on:click={() => { selectedInfo = 'key' }}
                    aria-label="Colour key"
                    class="border border-gray-700 bg-gray-100 text-gray-700 mr-2 w-8 h-8 md:w-16 md:h-16">
              <i class="fa fa-key text-base md:text-2xl"></i>
            </button>
            <button on:click={() => { selectedInfo = 'result' }}
                    aria-label="Seat info"
                    class="border border-gray-700 bg-gray-100 text-gray-700 w-8 h-8 md:w-16 md:h-16">
              <i class="fa fa-eye text-base md:text-2xl"></i>
            </button>
          </div>

          <div class="w-full hidden md:block">
            {#if selectedInfo === 'summary'}
              <ElectionSummaryResults electionStats={$election.stats} changedSeats={changedSeats}></ElectionSummaryResults>
            {:else if selectedInfo === 'result'}
              <ResultInfo result={selectedResult}></ResultInfo>
            {:else if selectedInfo === 'key'}
              <PartyKeys></PartyKeys>
            {/if}
          </div>
        </div>
        <div class="flex-grow w-2/3 md:w-2/3 results-full md:pb-4 md:pl-4">
          <div class="flex md:flex-no-wrap h-full">
            <div class="relative md:static md:w-full">
              <svg
                bind:this={electionMap} 
                id="mppElectionMap"
                class="election-map w-full h-full"
                xmlns:svg="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0,0,1500,2000">
                <GBElectionMap on:select-constituency={handleConstituencyClick} seats={filteredSeats} geometry=true></GBElectionMap>
              </svg>
            </div>
          </div>
        </div>
      </div>
      <div class="md:hidden pb-16">
        <div class="w-full">
          {#if selectedInfo === 'summary'}
            <ElectionSummaryResults electionStats={$election.stats} changedSeats={changedSeats}></ElectionSummaryResults>
          {:else if selectedInfo === 'result'}
            <ResultInfo result={selectedResult}></ResultInfo>
          {:else if selectedInfo === 'key'}
            <PartyKeys></PartyKeys>
          {/if}
        </div>      
      </div>
    {/if}
  </div>
</section>