<script context="module">
import get from 'lodash/get'
import { defaultElectionId } from '../../stores/elections.js'

export async function preload(page) {
  const slug = get(page, 'params.slug', '')
  if (slug.length > 0) {
    return this.redirect(302, `${slug}/dataset`)
  }
}
</script>
<script>
import { goto } from '@sapper/app'

$: {
  if ($defaultElectionId) {
    goto(`/demo/${$defaultElectionId}/dataset`)
  }
}
</script>
<div class="loading"></div>