<script>
import isNull from 'lodash/isNull'
import isEmpty from 'lodash/isEmpty'
import size from 'lodash/size'
import { onMount, onDestroy } from 'svelte'
import tippy from 'tippy.js'

import { election, electionResults, defaultElectionId } from '../../stores/elections.js'
import {
  resultsCalculations,
  calculationIndex,
  calculationComplete
} from '../../stores/results.js'
import {
  parties,
  partyRankings,
  partyAssignments
} from '../../stores/parties.js'
import {
  constituencies,
  resultsConstituencies,
  numAssignedConstituencies
} from '../../stores/constituencies.js'

import Random from '../../api/mptp/random.js'
import ResultsControls from './navigation/ResultsControls.svelte'
import PartyRankings from './result/PartyRankings.svelte'

let loading = false
let showResults = false
let currentStep = 0
let popoverWidth = 250
let steps = [
  {
    text: ['The results shown on this page are randomised and not based on any real election data.'],
    button: 'Start',
    clickHandler: () => {
      currentStep += 1
      calculationIndex.loadNext()
      showControls: true
    },
    showControls: false
  },
  {
    text: ['Seats are allocated in blocks proportional to their share of the overall vote.'],
    showControls: true
  },
  {
    text: [
      `Each time a block of seats are allocated they're removed from all the ranked lists and the next batch prepared.`,
      'This process is repeated until all the seats have been allocated.'
    ],
    showControls: true
  }
]

function loadRandomExamples() {
  resultsCalculations.reset()

  const randomConstituencies = Random.generateResultsConstituenciesSample($constituencies)
  resultsConstituencies.set(randomConstituencies)

  parties.set(Random.sampleParties)

  const randomPartyRankings = Random.generatePartyRankings(randomConstituencies)
  partyRankings.set(randomPartyRankings)

  const calculations = Random.generateCalculations(randomConstituencies, randomPartyRankings)
  resultsCalculations.set(calculations)
}

const unsubscribeConstituencies = constituencies.subscribe((value) => {
  if (size($constituencies) === 0) {
    if ($defaultElectionId) {
      election.load($defaultElectionId)
    }
  } else {
    loadRandomExamples()
  }
})

function resetCalculations (e) {
  resultsCalculations.reset()
  calculationIndex.loadNext()
}

onMount(() => {
  election.load($defaultElectionId)
  const template = document.getElementById('formula-tooltip-content')
  tippy(document.getElementById('formula-tooltip'), {
    placement: 'left',
    trigger: 'click',
    content: template.innerHTML
  })
})

onDestroy(() => {
  unsubscribeConstituencies()
  resultsCalculations.reset()
})

$:{
  if (!isNull($calculationIndex)) {
    showResults = true
  }
}
</script>

<div>
  <p class="md:w-2/3 py-2 md:py-4">
    In this step all the above threshold party candidates are ranked and listed.
  </p>
  {#if currentStep == 0}
    <div>
      <p class="md:w-2/3">
        To make the calculation all the candidates from constituencies remaining to be allocated seats are ranked by:
      </p>
      <div ref="formula" class="flex items-center md:w-2/3 ml-12 pt-2 pb-4 text-gray-700">
        <p class="font-mono font-semibold pr-2"># of votes / size of constituency</p>
        <div class="cursor-pointer" id="formula-tooltip">
          <span><i class="fas fa-lg fa-info-circle"></i></span>
        </div>
      </div>
      <div name="formula" id="formula-tooltip-content" style="width: {popoverWidth}px" class="hidden italic p-4">
        <div class="tippy-content text-left bg-gray-800 text-gray-100 p-4">
          <p class="py-2">
            <span class="font-semibold">Note:</span><br>
            Ranking by size of constituency takes into account turnout and means that even not voting at all has an (albeit small) effect on the outcome of the election.
          </p>
          <p class="py-2">
            This is because a candidate with 10000 votes in a constituency of 50000 will rank higher than a candidate with the same number of votes in a larger constituency.
          </p>
        </div>      
        <div class="tippy-arrow"></div> <!-- arrow: true -->
      </div>
      
      <p class="md:w-2/3 pb-4">
        This gives a listing of candidates by party in the order in which they performed best.
      </p>
    </div>
  {/if}
  <div>
    <div class="mb0 pb-4">
      <div class="flex justify-between">
        <div>
          {#each steps[currentStep].text as stepText}
            <p class="md:w-2/3 pb-4">
              { stepText }
            </p>
          {/each}
        </div>
        {#if steps[currentStep].showControls}
          <div class="pb-4 flex flex-no-shrink justify-center items-center">
            <ResultsControls on:reset={resetCalculations}></ResultsControls>
          </div>
        {:else if !loading}
          <div>
            {#if steps[currentStep].button}
              <button on:click={steps[currentStep].clickHandler} class="button button-primary mx-2 flex no-wrap">
                <span>{ steps[currentStep].button }</span>
                <span class="pl-2"><i class="fas fa-lg fa-chevron-right"></i></span>
              </button>
            {/if}
          </div>
        {/if}
      </div>
    </div>

    <div>
      {#if showResults}
        <div class="example-ranking ranking justify-center flex w-full max-w-full text-xs md:text-sm text-gray-800">
          {#each $parties as party}
            <div class="mr-3 w-1/5 text-xs md:text-sm text-gray-800">
              <div class="{party.slug} constituencies header mb-2">
                <div class="{party.slug} constituency-label text-center px-1 py-1 md:py-2 border-b-1 h2 overflow-hidden md:overflow-visible">
                  <div>{ party.name }</div>
                  <div>({ party.numAssigned } / { party.num_seats })</div>
                </div>
              </div>
            </div>
          {/each}
        </div>
        {#if $numAssignedConstituencies > 0 }
          <div class="example-allocation ranking justify-center flex w-full max-w-full text-xs md:text-sm text-gray-800" >
            {#each $partyAssignments as partyAssignment}
              <div class="mr-3 w-1/5 pb-2 allocated">
                <div class="flex flex-wrap justify-start items-start">
                  {#each partyAssignment.assigned as assigned}
                    <div class="{partyAssignment.slug} block" data-constituency={assigned}></div>
                  {/each}
                </div>
              </div>
            {/each}
          </div>
        {/if}
        {#if !$calculationComplete}
          <div class="example-ranking ranking justify-center flex w-full max-w-full text-xs md:text-sm text-gray-800">
            {#each $parties as party, idx}
              <div class="w-1/5 pr-3 text-xs flex-grow-0 flex-shrink-0">
                <div class="{party.slug} constituencies header mb-4 md:mb-8">            
                  <PartyRankings party={party}></PartyRankings>
                </div>
              </div>
            {/each}
          </div>
        {/if}
        {#if $calculationComplete}
          <div>
            <p>Once all seat allocations are complete the full elections results are known.</p>
            <p>
              To see how this process works when applied to real election results see the
              <a href="/demo/{$election.id}/dataset">
                <span class="pr-2">Demo section</span>
                <span class="icon is-medium"><i class="fas fa-sm fa-chevron-right"></i></span>
              </a>
            </p>
          </div>
        {/if}
      {/if}
    </div>    
  </div>
</div>