<script>
import { election, electionResults } from '../../stores/elections.js'
import { parties, partiesLoaded } from '../../stores/parties.js'

$:{
  if (!$partiesLoaded && $election) {
    electionResults.loadParties($election.id)
  }
}
</script>
<div class:loading={!$partiesLoaded} class="mt-4 md:mt-0 bg-gray-700 text-gray-100">
  {#if $partiesLoaded}
    <div class="pt-4 flex flex-wrap justify-between md:block">
      {#each $parties as party}
        <div class="flex items-center pl-4 w-1/2 md:w-full pb-4">
          <div class="h-6 md:h-12 w-6 md:w-12 mr-4 party-colour-square {party.slug}"></div>
          <div class="flex-grow">
            { party.name }
          </div>
        </div>
      {/each}
    </div>
  {/if}
</div>