<script>
import first from 'lodash/first'
import filter from 'lodash/filter'
import last from 'lodash/last'
import map from 'lodash/map'
import max from 'lodash/max'
import min from 'lodash/min'

let thresholds = [8, 5, 3, 2]
let exampleThreshold = 3
let examplePartyPercentages = [
  36,
  33,
  9.5,
  7,
  4.7,
  3.2,
  2.25,
  0.25,
  0.01,
  0.01,
  0.01
]
$: maxHeight = max(examplePartyPercentages) * 20 + 20
$: labelY = maxHeight + 50
$: thresholdY = maxHeight - (exampleThreshold * 20)
$: rectangles = map(examplePartyPercentages, (percent, idx) => {
  const barHeight = (percent * 20) // max([(percent * 20), 20])
  let klasses
  if (percent >= exampleThreshold) {
    klasses = 'above-threshold'
  } else {
    klasses = 'below-threshold'
  }
  return {
    height: barHeight,
    x: 100 * idx,
    labelX: (100 * idx) + 25,
    y: maxHeight - barHeight,
    percent: percent,
    classes: klasses
  }
})
$: lowestAboveThreshold = last(filter(examplePartyPercentages, (n) => n >= exampleThreshold))
$: highestBelowThreshold = first(filter(examplePartyPercentages, (n) => n < exampleThreshold))
$: isMaxThreshold = exampleThreshold === max(thresholds)
$: isMinThreshold = exampleThreshold === min(thresholds)

function decreaseThreshold () {
  if (isMinThreshold) {
    return false
  }
  exampleThreshold = first(filter(thresholds, (n) => n < exampleThreshold))
}
function increaseThreshold () {
  if (isMaxThreshold) {
    return false
  }
  exampleThreshold = last(filter(thresholds, (n) => n > exampleThreshold))
}
</script>
<svelte:head>
  <title>Most Past the Post - how it works: threshold</title>
</svelte:head>

<div class="w-full flex flex-wrap bg-gray-600 text-gray-100 shadow-lg p-4">
  <div class="w-full md:w-2/3 order-1 md:order-0">
    <div class="relative">
      {#if isMaxThreshold}
        <div class="bg-gray-100 text-gray-800 absolute top-0 left-0 mt-8 mx-8 md:mx-16 p-2 md:p-4 opacity-75 text-sm md:text-base">
          Setting a high threshold makes it harder for small parties to gain representation.
        </div>
      {:else if isMinThreshold}
        <div class="bg-gray-100 text-gray-800 absolute top-0 left-0 mt-8 mx-8 md:mx-16 p-2 md:p-4 opacity-75 text-sm md:text-base">
          Setting a low threshold is more "democratic" but runs the risk of fragmentation.
        </div>
      {/if}
      <svg viewBox="0 0 1000 925">
        {#each rectangles as rect, idx}
          <g>
            <rect
              width="90"
              height={rect.height}
              x={rect.x}
              y={rect.y}
              class="stroke-gray-100 {rect.classes}"
            ></rect>
            <text x={rect.labelX} y={labelY} class="text-4xl md:text-3xl stroke-gray-100 fill-gray-100">{ rect.percent }</text>
          </g>
        {/each}
        {#if !isMaxThreshold}
          <text on:click={increaseThreshold} x="750" y={thresholdY - 30} class="text-center text-5xl md:text-3xl stroke-gray-100 fill-gray-100 cursor-pointer">+ increase</text>
        {/if}
        <line x1="0" x2="1000" y1={thresholdY} y2={thresholdY} class="threshold-line" />
        {#if !isMinThreshold}
          <text on:click={decreaseThreshold} x="750" y={thresholdY + 50} class="text-center text-5xl md:text-3xl stroke-gray-100 fill-gray-100 cursor-pointer">- decrease</text>
        {/if}
        <text width="1000" x="250" y={labelY + 75} class="text-center text-5xl md:text-3xl stroke-gray-100 fill-gray-100">% of national vote</text>
      </svg>
    </div>
    <p class="pb-4 pr-2">
      In an election with a threshold set at { exampleThreshold }% the party getting { lowestAboveThreshold }% of the vote will get their share of the national vote translated in number of seats.
    </p>
    <p class="pb-4 pr-2">
      The party getting { highestBelowThreshold }% of the vote will only win seats in constituencies where their candidate got the most votes.
    </p>
  </div>
  <div class="w-full md:w-1/3 order-0 md:order-1 py-2">
    <p class="pb-4 pr-2">
      Parties polling above the threshold qualify for proportionally calculated seats under most past the post.
    </p>
    <p class="pb-4 pr-2">
      Parties polling below the threshold can still win seats but only if they win them outright under first past the post rules.
    </p>
  </div>
</div>
<div class="w-full order-2 py-4 mt-2">
  <p>Where to set the threshold value would be set by a mechanism defined in electoral legislation.</p>
  <p>
    For more information on electoral thresholds see the <a class="underline" href="https://en.wikipedia.org/wiki/Election_threshold" target="_blank" rel="noopener">wikipedia article</a>
    on the subject.
  </p>
</div>
