<script>
import { fade } from 'svelte/transition'
import { election, elections, electionsLoaded, electionLoaded, electionResults, electionResultsLoaded, mapData } from '../../../stores/elections.js'
import ElectionSelector from '../navigation/ElectionSelector.svelte'
import ResultsPieChart from './ResultsPieChart.svelte'
import ResultsBarChart from './ResultsBarChart.svelte'
import GBElectionMap from '../geometry/map/GBElectionMap.svelte'

let statsView = 'map'
let showMap, showPieChart, showBarChart
$: {
  showMap = statsView === 'map'
  showPieChart = statsView === 'pie-chart'
  showBarChart = statsView === 'bar-chart'
}

function buttonClass (view) {
  return (statsView === view) ? 'active' : ''
}

function loadSummary (event, detail) {
  election.load(event.detail)
}
</script>

<div class="py-4 results-comparison" class:loading={!$electionLoaded}>
  <div class="flex flex-wrap md:flex-no-wrap w-full justify-between items-center border border-gray-800 md:border-0">
    <div class="order-0 w-1/2 md:w-2/5 md:text-right">
      {#if $electionLoaded && $electionResultsLoaded}
        <article class="center sm:border-0 md:border border-gray-800">
          <h5 class="bg-gray-800 text-gray-100 my-0 py-2 px-3 text-center font-bold uppercase">Before</h5>
          <div class="my-3 md:my-4 p-0 graph-block">
            {#if showMap}
              <svg
                transition:fade
                id="fppElectionMap"
                class="election-map"
                xmlns:svg="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0,0,1550,2000"
                style="width: 100%"
              >
                <GBElectionMap seats={$electionResults.fpp_results.seats}></GBElectionMap>
              </svg>
            {:else if showPieChart}
              <ResultsPieChart klass="p-1 md:p-4" stats={$election.stats} chartResults={$election.stats.fpp_results.seat_totals} displayMode="total-seats"></ResultsPieChart>
            {:else if showBarChart}
              <ResultsBarChart klass="p-1 md:p-4" stats={$election.stats} chartResults={$election.stats.fpp_results.seat_totals} displayMode="total-seats"></ResultsBarChart>
            {/if}
          </div>
        </article>
      {/if}
    </div>
    <div class="order-2 md:order-1 flex-no-grow w-full md:w-auto text-gray-800">
      <div class="flex md:flex-col items-center justify-center md:justify-start">
        <div class="p-2 md:p-3 md:mb-4 self-center">
          <ElectionSelector theme="light" on:select-election="{loadSummary}"></ElectionSelector>
        </div>
        <button on:click="{() => statsView = 'map'}" class:active={statsView === 'map'} class="map-view m-2 button button-primary button-square" aria-label="Map">
          <span><i class="fas fa-lg fa-map"></i></span>
        </button>
        <button on:click="{() => statsView = 'pie-chart'}" class:active={statsView === 'pie-chart'} class="pie-chart-view m-2 button button-primary button-square" aria-label="Pie chart">
          <span><i class="fas fa-lg fa-chart-pie"></i></span>
        </button>
        <button on:click="{() => statsView = 'bar-chart'}" class:active={statsView === 'bar-chart'} class="bar-chart-view m-2 button button-primary button-square" aria-label="Bar chart">
          <span><i class="fas fa-lg fa-chart-bar"></i></span>
        </button>
      </div>
    </div>
    <div class="order-1 md:order-2 w-1/2 md:w-2/5">
      {#if $electionLoaded && $electionResultsLoaded}
        <article class="center sm:border-0 md:border border-gray-800">
          <h5 class="bg-gray-800 text-gray-100 my-0 py-2 px-3 text-center font-bold uppercase">After</h5>
          <div class="my-3 md:my-4 p-0 graph-block">
            {#if showMap}
              <svg
                id="mppElectionMap"
                class="election-map"
                xmlns:svg="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0,0,1550,2000" style="width: 100%">
                <GBElectionMap seats={$electionResults.mpp_results.seats}></GBElectionMap>
              </svg>
            {:else if showPieChart}
              <ResultsPieChart klass="p-1 md:p-4" stats={$election.stats} chartResults={$election.stats.mpp_results.seat_totals} displayMode="total-seats"></ResultsPieChart>
            {:else if showBarChart}
              <ResultsBarChart klass="p-1 md:p-4" stats={$election.stats} chartResults={$election.stats.mpp_results.seat_totals} displayMode="total-seats"></ResultsBarChart>
            {/if}
          </div>
        </article>
      {/if}
    </div>
  </div>
</div>
