<script>
import forEach from 'lodash/forEach'
import get from 'lodash/get'
import size from 'lodash/size'
import split from 'lodash/split'
import Numeral from 'numeral'

export let stats
export let chartResults
export let displayMode
export let klass = ''

let xScale = 200
let maxX = 400
let chartData
let lineHeight
let title = ''
$: {
  const splitMode = split(displayMode, '-')
  const statOperator = splitMode[0]
  const statTarget = splitMode[1] 
  if (statOperator === 'percentage') {
    title = `% of ${splitMode[1]}`
  } else {
    title = `# of ${splitMode[1]}`
  }

  chartData = []
  if (displayMode === 'percentage-votes') {
    const totalVotesCast = chartResults.total
    forEach(chartResults.parties, (party) => {
      const percent = (party[1] / totalVotesCast) * 100
      chartData.push({
        y_value: Numeral(percent).format('0.0'), // .format('0.0%'), // * 100.0,
        scale: (xScale / 100.0) * percent,
        classes: party[0]
      })
    })
  } else if (displayMode === 'percentage-seats') {
    const numConstituencies = get(stats, 'constituencies')
    forEach(chartResults, (party) => {
      const percent = (party[1] / numConstituencies) * 100
      chartData.push({
        y_value: Numeral(percent).format('0.0'),
        scale: (xScale / 100.0) * percent,
        classes: party[0]
      })
    })
  } else { // number-seats
    forEach(chartResults, (party) => {
      chartData.push({
        y_value: party[1],
        scale: (xScale / maxX) * party[1],
        classes: party[0]
      })
    })
  }
  lineHeight = (xScale * 0.9) / size(chartData)
}

</script>

<div class="bar-chart {klass}">
  <h5 class="text-center text-gray-700">{ title }</h5>
  <svg viewBox={`0 ${lineHeight / 2} ${xScale} ${xScale}`}>
    {#each chartData as rect, idx }
      <g class="info-panel">
        <rect
          width={rect.scale}
          height={`${lineHeight * 0.6}`}
          x={`${lineHeight * 1.5}`}
          y={`${(lineHeight * (idx + 1))}`}
          class={rect.classes}
        ></rect>
        <text x="0" y={`${(lineHeight * (idx + 1)) + (lineHeight * 0.5)}`} class="font-sans text-xs chart-label stroke-gray-700 fill-gray-700">{ rect.y_value }</text>
      </g>
    {/each}
  </svg>
</div>