<script>
import get from 'lodash/get'
import map from 'lodash/map'
import split from 'lodash/split'
import { afterUpdate } from 'svelte'
import Chartist from 'chartist'

export let stats
export let chartResults
export let displayMode
export let klass = ''

let xScale = 200
let maxX = 400
let chartData
let chartOptions = {}
let lineHeight
let title = ''

$: {
  const splitMode = split(displayMode, '-')
  const statOperator = splitMode[0]
  const statTarget = splitMode[1] 
  if (statOperator === 'percentage') {
    title = `% of ${splitMode[1]}`
  } else {
    title = `# of ${splitMode[1]}`
  }

  chartData = {
    labels: map(chartResults, (row) => { return row[0]}),
    series: map(chartResults, (row) => { return row[1]}),
    
    total: get(stats, 'constituencies'),
  }
  chartOptions = {
    showLabel: false,
  }
}

function buildChart(node) {
  let chart = new Chartist.Pie(node, chartData, chartOptions)
  chart.on('draw', function(context) {
    if(context.type === 'slice' || true) {
      // override chartist colour by injecting party slug
      context.element.attr({
        class: chartResults[context.index][0]
      });
    }
  })
}
</script>
<div class={klass}>
  <h5 class="text-center text-gray-700">{ title }</h5>
  <div class="pie-chart h-64 w-full" use:buildChart><!-- placeholder --></div>
</div>