<script>
import find from 'lodash/find'
import truncate from 'lodash/truncate'
import {
  constituencies,
  resultsConstituencies,
} from '../../../stores/constituencies.js'

export let constituencySlug
export let party

let constituency
$: {
  constituency = find($constituencies, (c) => c.slug === constituencySlug)
}
</script>

<div class="{constituencySlug} {party.slug} highlight constituency text-center text-xs px-1 py-1 md:p-2 border-b-1 md:h2 overflow-hidden md:overflow-visible">
  <span class="md:hidden whitespace-no-wrap">{ truncate(constituency.abbreviation, { length: 15 }) }</span>
  <span class="hidden md:block">{ constituency.name }</span>
</div>
