<script>
import size from 'lodash/size'
import Numeral from 'numeral'

export let changedSeats
export let electionStats
</script>
<div class="bg-gray-700 text-gray-100 text-sm md:text-base py-4">
  <div class="flex px-4 md:py-2">
    <div class="w-2/3 wrap pr-4">total # constituencies</div>
    <div class="w-1/3">{electionStats.constituencies}</div>
  </div>
  <div class="flex px-4 md:py-2">
    <div class="w-2/3 wrap pr-4">total votes</div>
    <div class="w-1/3">{ Numeral(electionStats.total_votes.total).format('0.0a') }</div>
  </div>
  <div class="flex px-4 md:py-2 hidden">
    <div class="w-2/3 wrap pr-4">turnout</div>
    <div class="w-1/3">{ Numeral(electionStats.total_votes.turnout).format('0.00') }%</div>
  </div>
  <div class="flex px-4 md:py-2">
    <div class="w-2/3 wrap pr-4">
      wasted votes<br>
      (before MPTP calculations)
    </div>
    <div class="w-1/3">{ Numeral(electionStats.fpp_results.wasted_votes).format('0.0a') }</div>
  </div>
  <div class="flex px-4 md:py-2">
    <div class="w-2/3 wrap pr-4">
      wasted votes<br>
      (after MPTP calculations)
    </div>
    <div class="w-1/3">{ Numeral(electionStats.mpp_results.wasted_votes).format('0.0a') }</div>
  </div>
  <div class="flex px-4 md:py-2">
    <div class="w-2/3 wrap pr-4">total # changed seats</div>
    <div class="w-1/3">{ size(changedSeats) }</div>
  </div>
</div>