<script>
import get from 'lodash/get'
import find from 'lodash/find'
import {
  currentCalculationHighlights,
  currentCalculationConstituencies
} from '../../../stores/results.js'
import {
  partyRankings
} from '../../../stores/parties.js'
import {
  constituencies,
  unAssignedConstituencySlugs,
  numAssignedConstituencies
} from '../../../stores/constituencies.js'
import PartyRanking from './PartyRanking.svelte'
import ConstituencyHighlight from './ConstituencyHighlight.svelte'

export let party

let partyHighlights
let partyComplete
let rankings = []
$: {
  partyHighlights = get($currentCalculationHighlights, party.slug, [])
  partyComplete = party.numAssigned === party.num_seats
  rankings = find($partyRankings, { 'slug': party.slug })
}
</script>

<div class="current-calculations">
  {#if partyComplete }
    <div class="constituency {party.slug} text-center px-1 py-1 md:py-2 uppercase text-sm highlight opacity-75">complete</div>
  {:else}
    {#each partyHighlights as constituency (constituency)}
      <ConstituencyHighlight constituencySlug={constituency} party={party}></ConstituencyHighlight>
    {/each}
  {/if}
</div>
{#if rankings.rankings && !partyComplete }
  <div class="list-container unassigned">
    {#each rankings.rankings as ranking, idx (ranking)}
      <PartyRanking {...ranking} party={party} rank={idx}></PartyRanking>
    {/each}
  </div>
{/if}
