<script>
import has from 'lodash/has'
import includes from 'lodash/includes'
import truncate from 'lodash/truncate'
import {
  currentCalculationConstituencies
} from '../../../stores/results.js'
import {
  unAssignedConstituencySlugs,
  numAssignedConstituencies
} from '../../../stores/constituencies.js'
export let constituency
export let party
export let rank
export let candidate = null
export let visible = true

$: {
  if ((rank - $numAssignedConstituencies) >= 75) {
    visible = false
  } else if (has($currentCalculationConstituencies, constituency.slug)) {
    visible = false
  } else {
    visible = includes($unAssignedConstituencySlugs, constituency.slug)
  }
}
</script>
{#if visible}
  <div
    class="{constituency.slug} {party.slug} fade-out constituency text-center text-xs px-1 py-1 md:p-2 border-b-1 h2 break-all md:break-normal overflow-hidden md:overflow-visible"
    data-candidate={JSON.stringify(candidate)}
  >
    <span class="md:hidden overflow-hidden whitespace-no-wrap">{ truncate(constituency.abbreviation, { length: 12 }) }</span>
    <span class="hidden md:block">{ constituency.name }</span>
  </div>
{/if}
