<script>
import has from 'lodash/has'
import includes from 'lodash/includes'
import { fade } from 'svelte/transition'
import {
  currentCalculationConstituencies,
  currentCalculationHighlights,
  calculationComplete
} from '../../../stores/results.js'
import {
  resultsConstituencies,
  unAssignedConstituencySlugs
} from '../../../stores/constituencies.js'

export let party
export let constituency

let visible = true
let highlight = false
$: {
  highlight = has($currentCalculationConstituencies, constituency.slug)
  if (highlight) {
    visible = false
  } else {
    visible = includes($unAssignedConstituencySlugs, constituency.slug)
  }
}
</script>

{#if visible}
  <div
    transition:fade="{{ duration: 200 }}"
    class="{party.slug} constituency text-center px-1 py-1 md:p-2 border-b-1 h2 max-w-xs overflow-hidden md:overflow-visible"
    class:highlight={highlight}
    data-constituency="{constituency.slug}"
  >
      { constituency.abbreviation }
  </div>
{/if}