<script>
import filter from 'lodash/filter'
import first from 'lodash/first'
import forEach from 'lodash/forEach'
import get from 'lodash/get'
import groupBy from 'lodash/groupBy'
import includes from 'lodash/includes'
import isEmpty from 'lodash/isEmpty'
import isNull from 'lodash/isNull'
import keys from 'lodash/keys'
import lowerCase from 'lodash/lowerCase'
import reverse from 'lodash/reverse'
import size from 'lodash/size'
import sortBy from 'lodash/sortBy'
import sumBy from 'lodash/sumBy'
import {
  calculationIndex,
  currentCalculation,
  resultsCalculations
} from '../../../stores/results.js'
import {
  parties,
  partyRankings
} from '../../../stores/parties.js'
import {
  election,
  electionResults
} from '../../../stores/elections.js'
import ConstituencyHighlight from './ConstituencyHighlight.svelte'
import RankingEntry from './RankingEntry.svelte'
import PartyRankings from './PartyRankings.svelte'

let unrankedResults = []
let rankedResults = []
let unrankedResultsColumns = []
let seats
let calculationParties = []

function generateUnrankedResults () {
  const fppCalculation = first($resultsCalculations)
  const fppSeats = get(fppCalculation, 'seats', [])
  const grouped = groupBy(fppSeats, (seat) => lowerCase(seat.party.abbreviation))
  let unrankedResults = []
  forEach(grouped, (seats, key) => {
    unrankedResults.push({
      header: get(first(seats), 'party.short_name'),
      abbreviation: get(first(seats), 'party.abbreviation'),
      slug: get(first(seats), 'party.slug'),
      constituencies: seats
    })
  })

  return reverse(sortBy(unrankedResults, (entry) => entry.constituencies.length))
}

function splitUnrankedResultsColumns (unrankedResults) {
  const totalUnranked = sumBy(unrankedResults, (u) => u.constituencies.length)
  const newColumnAfter = totalUnranked / 4.0
  let columns = []
  let count = 0
  let columnIdx = 0
  forEach(unrankedResults, (results) => {
    if (isEmpty(columns[columnIdx])) {
      columns[columnIdx] = []
    }
    columns[columnIdx].push(results)
    count += results.constituencies.length
    if (count >= newColumnAfter) {
      count = 0
      columnIdx += 1
    }
  })

  return columns
}

let calculationsLoaded = false
let mppPartySlugs = []
let unrankedColumnClass = 'w-auto'
let rankedColumnClass = 'w-auto'
let calculationType
$: {
  calculationsLoaded = !isNull($calculationIndex) && $calculationIndex >= 0
  seats = get($currentCalculation, 'seats', [])
  
  mppPartySlugs = keys(get($election, 'results.most_past_post_result.party_proportions', []))
  if ($calculationIndex === 0) {
    calculationParties = filter($parties, (p) => { return !includes(mppPartySlugs, p.slug) })
  } else if ($calculationIndex > 0) {
    calculationParties = filter($parties, (p) => { return includes(mppPartySlugs, p.slug) })
  }
  if ($partyRankings) {
    unrankedResults = generateUnrankedResults()
    unrankedResultsColumns = splitUnrankedResultsColumns(unrankedResults)
  }
  unrankedColumnClass = columnClass(size(unrankedResultsColumns))
  rankedColumnClass = columnClass(size(calculationParties))

  calculationType = get($currentCalculation, 'calculation_type')
}

function columnClass (size) {
  if (size >= 4 && size <= 6) {
    return `w-1/${size}`
  }
  return 'w-auto'
}
</script>

{#if calculationsLoaded && size($partyRankings) > 0 }
  <div class="ranking justify-center flex w-full max-w-full text-xs md:text-sm text-gray-800" >
    {#if calculationType === 'below_threshold'}
      {#each unrankedResultsColumns as columResults }
        <div class="border-white border-r-4 border-l-4 md:pr-3 text-xs flex-grow-0 md:flex-grow flex-shrink-0 {unrankedColumnClass}">
          {#each columResults as unranked (unranked.slug)}
            <div class="{unranked.slug} constituencies header mb-4 md:mb-8">
              <div class="current-calculations">
                {#each unranked.constituencies as seat (seat.constituency.slug)}
                  <ConstituencyHighlight constituencySlug={seat.constituency.slug} party={seat.party}></ConstituencyHighlight>
                {/each}
              </div>
            </div>
          {/each}
        </div>
      {/each}
    {:else if calculationType === 'above_threshold'}
      {#each calculationParties as party, idx}
        <div class="border-white border-r-4 border-l-4 md:pr-3 text-xs flex-grow-0 md:flex-grow flex-shrink-0 {rankedColumnClass}">
          <div class="{party.slug} constituencies header mb-4 md:mb-8">
            <PartyRankings party={party}></PartyRankings>
          </div>
        </div>
      {/each}
    {/if}
  </div>
{/if}