<script>
import GBElectionMap from '../geometry/map/GBElectionMap.svelte'
</script>

<svg id="electionMap"
  class="election-map"
  xmlns:svg="http://www.w3.org/2000/svg"
  xmlns:xlink="http://www.w3.org/1999/xlink"
  xmlns="http://www.w3.org/2000/svg"
  viewBox="0,0,1500,2000">

  <GBElectionMap></GBElectionMap>
</svg>
