<script>
export let result
</script>
<div class="py-2 md:py-4 bg-gray-700 text-gray-100 text-sm md:text-lg">
  {#if result}
    <h3 class="px-2 md:px-4 pb-2">{result.fppResult.constituency.name}</h3>
    <div class="flex md:flex-wrap justify-between w-full">
      <div class="w-1/2 md:w-full pl-4 pr-2 md:p-4">
        {#if result.changed}
          <div class="italic pb-1">reassigned from:</div>
          <div class="flex items-start">
            <div class="h-6 w-6 flex-no-shrink party-colour-square {result.fppResult.party.slug}"></div>
            <div class="ml-2">
              <div>{result.fppResult.party.short_name}</div>
              <div>{result.fppResult.candidate.name}</div>
            </div>
          </div>
        {:else}
          <div class="italic">no change from first past post result</div>
        {/if}
      </div>
      <div class="w-1/2 md:w-full pl-2 pr-4 md:p-4 flex-no-shrink">
        {#if result.changed}<div class="italic pb-1">to:</div>{/if}
        <div class="flex items-start">
          <div class="h-6 w-6 flex-no-shrink party-colour-square {result.mppResult.party.slug}"></div>
          <div class="ml-2">
            <div>{result.mppResult.party.short_name}</div>
            <div>{result.mppResult.candidate.name}</div>
          </div>
        </div>
      </div>
    </div>
  {:else}
    <h4 class="px-4 pb-2 text-base hidden lg:block text-lg italic">Click on a coloured seat to view information on it.</h4>
    <h4 class="px-4 pb-2 text-base lg:hidden italic">Click on a coloured seat or use the cursor to view information on it.</h4>
  {/if}
</div>
