<script>
import cloneDeep from 'lodash/cloneDeep'
import find from 'lodash/find'
import first from 'lodash/first'
import get from 'lodash/get'
import groupBy from 'lodash/groupBy'
import keys from 'lodash/keys'
import map from 'lodash/map'
import size from 'lodash/size'
import remove from 'lodash/remove'
import without from 'lodash/without'
import { quintOut } from 'svelte/easing'
import { crossfade } from 'svelte/transition'
import { flip } from 'svelte/animate'
import { onMount } from 'svelte'
import {
  currentCalculation,
  calculationComplete,
  calculationIndex
} from '../../../stores/results.js'
import {
  constituencies,
  unAssignedConstituencySlugs,
  numAssignedConstituencies
} from '../../../stores/constituencies.js'
import {
  parties
} from '../../../stores/parties.js'
import ConstituencyHighlight from './ConstituencyHighlight.svelte'

let processedReassignments = false

let reassignmentHighlights = {}
let reassignmentParties = []
let unprocessedSeats = []
let columnClass = ''

onMount(() => {
  reassignmentHighlights = groupBy($currentCalculation.seats, (seat) => { return get(seat, 'metadata.reassignment.from.party')})
  reassignmentParties = map(keys(reassignmentHighlights), (slug) => { 
    return find($parties, (p) => p.slug === slug)
  })
  unprocessedSeats = cloneDeep($currentCalculation.seats)
  processReassignments()
})

const [send, receive] = crossfade({
  duration: d => Math.sqrt(d * 200),

  fallback(node, params) {
    const style = getComputedStyle(node)
    const transform = style.transform === 'none' ? '' : style.transform

    return {
      duration: 300,
      easing: quintOut,
      css: t => `
        transform: ${transform} scale(${t})
        opacity: ${t}
      `
    }
  }
})

$: {
  columnClass = `w-1/${size(reassignmentParties)}`
}

function processReassignments () {
  let seat = first(unprocessedSeats)
  let fromParty
  let toSeat
  if (seat) {
    fromParty = get(seat, 'metadata.reassignment.from.party')
    toSeat = find(unprocessedSeats, (s) => s.party.slug === fromParty)
    processReassignment(seat)
    processReassignment(toSeat)
    setTimeout(processReassignments, 500)
  } else {
    calculationIndex.loadNext()
  }
}

function processReassignment(targetSeat) {
  let fromParty = get(targetSeat, 'metadata.reassignment.from.party')
  remove(reassignmentHighlights[fromParty], (s) => s.constituency.slug === targetSeat.constituency.slug)
  reassignmentHighlights[fromParty] = without(reassignmentHighlights[fromParty], targetSeat)
  reassignmentHighlights[targetSeat.party.slug].unshift(targetSeat)
  unprocessedSeats = without(unprocessedSeats, targetSeat)
}
</script>

<div class="ranking justify-center flex w-full max-w-full text-xs md:text-sm text-gray-800">
  {#each reassignmentParties as party}
    <div class="border-white border-r-4 border-l-4 md:pr-3 text-xs flex-grow-0 md:flex-grow flex-shrink-0 {columnClass}">
      <div class="{party.slug} constituencies header mb-4 md:mb-8">
        <div class="current-calculations">
          {#each reassignmentHighlights[party.slug] as seat (`${party.slug}-${seat.constituency.slug}`)}
            <div 
              in:receive="{{key: `${party.slug}-${seat.constituency.slug}`}}"
	            out:send="{{key: `${seat.party.slug}-${seat.constituency.slug}`}}"
              animate:flip="{{duration: 500}}">
              <ConstituencyHighlight constituencySlug={seat.constituency.slug} party={party}></ConstituencyHighlight>
            </div>
          {/each}
        </div>
      </div>
    </div>
  {/each}
</div>
